---
title: Home | amsantac.co
---

<!DOCTYPE HTML>
<!--
	Iridium by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	
	{% include head.html %}
	
	<body class="homepage">

		<!-- Header -->
		<div id="header">
			<div class="container"> 
				
				<!-- Logo -->
				<div id="logo">
					<h1><a href="#">amsantac.co</a></h1>
					<span>Smart solutions for geospatial data processing</span>
				</div>
				
				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li class="active"><a href="index.html">Home</a></li>
						<li><a href="/about.html">About</a></li>
						<li><a href="/software.html">Software</a></li>
						<li><a href="/publications.html">Publications</a></li>
						<li><a href="/training.html">Training</a></li>
						<li><a href="/blog.html">Blog</a></li>
						<li><a href="/contact.html">Contact</a></li>
					</ul>
				</nav>
			</div>
		</div>

		<!-- Main -->
		<div id="main">
			<div class="container">
				<div class="row"> 
					
					<!-- Content -->
					<div id="content" class="8u skel-cell-important">
						<section>
							<header>
								<h1>Web mapping with Leaflet and R</h1>
								<span class="byline">Create interactive web maps with a few lines of R</span>
							</header>
							<a href="/blog/en/r/2015/08/11/leaflet-R.html" class="image full"><img src="/images/2015-08-11-leaflet-R-index.png" alt="" /></a>
							<p>
							  <a href="http://leafletjs.com/">Leaflet</a> is a JavaScript library that has become quite popular for creating interactive maps. One way to create a map using the Leaflet JS library is to include the Leaflet JS and CSS files in the head of a web page and then set up the map in the body of the html page.</p>

<p>An alternative way is to create the web map in the <a href="https://www.r-project.org/">R environment</a> using an R package called <a href="https://rstudio.github.io/leaflet/">leaflet</a>, developed by the guys from <a href="https://www.rstudio.com/">RStudio</a>, which allows controlling and integrating Leaflet maps in R.  In this post I explain how to read into R a vector map in <a href="https://doc.arcgis.com/en/arcgis-online/reference/shapefiles.htm">shapefile</a> format and create a leaflet web map customizing how the vector map is displayed. I also show how to add a legend, a layers control and popups for displaying attribute data.
              </p>
							<p><a href="/blog/en/r/2015/08/11/leaflet-R.html">Read more...</a></p>
						</section>
						<hr>
						<br>
						<section>
							<header>
								<h1>TOC Shiny web app</h1>
								<span class="byline">An interactive app for generating the ROC curve and the TOC curve</span>
							</header>
							<a href="software.html" class="image full"><img src="/images/TOCapp-index.png" alt="" /></a>
							<p>
							  This R Shiny web application allows the construction of the Receiver (aka Relative) Operating Characteristic (ROC) curve and the Total Operating Characteristic (TOC) curve for spatial and non-spatial data through a graphical user interface. The ROC curve is a widely-popular statistical technique used for evaluating the performance of a binary classifier system as its discrimination threshold is varied. The TOC method is a novel modification of the ROC method that has been introduced recently by Professor Pontius from Clark University.
							  </p>
							<p><a href="software.html">Read more...</a></p>
						</section>
						<hr>
						<br>
						<section>
							<header>
								<h1>Optimal spatial sampling networks</h1>
								<span class="byline">Designing sampling networks using genetic algorithms</span>
							</header>
							<a href="publications.html" class="image full"><img src="/images/sampling-networks-index.png" alt="" /></a>
							<p>
							This book chapter shows how optimal spatial networks for second-phase sampling of soil organic carbon were designed based on the spatial information obtained during a first-phase sampling. Additional points supplementing the existing initial sampling set were allocated in random and regular configurations following two different approaches: sequential and simultaneous addition. The search for the optimal set of additional points was performed using an evolutionary optimization technique known as genetic algorithms.
							  </p>
							<p><a href="publications.html">Read more...</a></p>
						</section>						
					</div>
					
					{% include sidebar.html %}

				</div>
			</div>
		</div>

					{% include footer.html %}

	</body>
</html>