		<!-- Footer -->
		<div id="featured">
			<div class="container">
				<div class="row">
					<div class="4u">
						<h2>The geospt package</h2>
						<a href="/software.html" class="image full"><img src="/images/geospt-featured.png" alt="" /></a>
						<p>This R package provides a set of geostatistical techniques for variogram estimation and cross-validation as well as methods for the design of optimal spatial sampling networks.</p>
						<p><a href="/software.html" class="button">More Details</a></p>
					</div>
					<div class="4u">
						<h2>The diffeR package</h2>
						<a href="/software.html" class="image full"><img src="/images/differ-featured.png" alt="" /></a>
						<p>The diffeR package implements a set of metrics of difference for comparing pairs of maps representing real or categorical variables at original and multiple resolutions.</p>
						<p><a href="/software.html" class="button">More Details</a></p>
					</div>
					<div class="4u">
						<h2>The TOC package</h2>
						<a href="/software.html" class="image full"><img src="/images/toc-featured.png" alt="" /></a>
						<p>This R package allows the construction of the Receiver (aka Relative) Operating Characteristic (ROC) curve and the Total Operating Characteristic (TOC) curve for spatial and non-spatial data.</p>
						<p><a href="/software.html" class="button">More Details</a></p>
					</div>
				</div>
			</div>
		</div>


		<!-- Footer -->
		<div id="footer">
			<div class="container">
				<div class="row">
					<div class="4u">
						<section>
							<h2>Latest Posts</h2>
							<ul class="default">
								<li><a href="/blog/en/2015/10/31/qgis-r.html">How to integrate QGIS with R</a></li>
								<li><a href="/blog/en/2015/10/03/reflectance-R.html">Create reflectance images with CLASlite and R</a></li>
								<li><a href="/blog/en/r/2015/09/05/stacking-R.html">Using R for file stacking in CLASlite</a></li>
								<li><a href="/blog/en/r/2015/08/11/leaflet-R.html">Web mapping with Leaflet and R</a></li>
								<li><a href="/blog/en/2015/08/09/first-post.html">Welcome to the R-Spatialist Blog!</a></li>
								<li><a href="#"></a></li>
							</ul>
						</section>
					</div>
					<div class="4u">
						<section>
							<h2>Latest publications</h2>
							<ul class="default">
								<li><a href="/publications.html">Quantity and allocation metrics for comparing maps</a></li>
								<li><a href="/publications.html">Evolutionary optimization of spatial sampling networks</a></li>
								<li><a href="/publications.html">Land use change and the landscape matrix  dynamics</a></li>
								<li><a href="/publications.html">Maximizing CDM forestry projects profitability</a></li>
								<li><a href="/publications.html">Classification of rice crops using Radarsat-2</a></li>
							</ul>
						</section>
					</div>
					<div class="4u">
						<section>
							<h2>Software packages</h2>
							<ul class="default">
								<li><a href="/software.html">The Llanos GEE web app</a></li>
								<li><a href="/software.html">TOC R Shiny web app</a></li>
								<li><a href="/software.html">The TOC R package</a></li>
								<li><a href="/software.html">The diffeR R package</a></li>
								<li><a href="/software.html">The geospt R package</a></li>
							</ul>
						</section>
					</div>
				</div>
			</div>
		</div>
		
	  <!-- Copyright -->
		<div id="copyright">
			<div class="container">
			  <!--
				Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
				-->
				&copy; Alí Santacruz - <a href="/es/">Versión en español</a>
			</div>
		</div>
