		<!-- Header -->
		<div id="header">
			<div class="container"> 
				
				<!-- Logo -->
				<div id="logo">
					<h1><a href="{{ "/index.html" | prepend: site.baseurl | prepend: site.url }}">amsantac</a></h1>
					<span>Design by A. Santacruz</span>
				</div>
				
				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a href="{{ "/index.html" | prepend: site.baseurl | prepend: site.url }}">Home</a></li>
						<li><a href="{{ "/left-sidebar.html" | prepend: site.baseurl | prepend: site.url }}">Left Sidebar</a></li>
						<li><a href="{{ "/right-sidebar.html" | prepend: site.baseurl | prepend: site.url }}">Right Sidebar</a></li>
						<li><a href="{{ "/no-sidebar.html" | prepend: site.baseurl | prepend: site.url }}">No Sidebar</a></li>
						<li class="active"><a href="{{ "/blog.html" | prepend: site.baseurl | prepend: site.url }}">Blog</a></li>
					</ul>
				</nav>
			</div>
		</div>
