		<!-- Header -->
		<div id="header">
			<div class="container"> 
				
				<!-- Logo -->
				{% include logo-es.html %}
				
				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a href="/es/">Inicio</a></li>
						<li><a href="/es/about.html">Acerca de mí</a></li>
						<li><a href="/es/software.html">Software</a></li>
						<li><a href="/es/publications.html">Publicaciones</a></li>
						<!-- <li><a href="/es/training.html">Capacitación</a></li> -->
						<li class="active"><a href="/es/blog.html">Blog</a></li>
						<li><a href="/es/contact.html">Contacto</a></li>
					</ul>
				</nav>
			</div>
		</div>
