
					<div id="sidebar" class="4u">
					  <hr>
					  
					  {% include socialmedia-es.html %}

					  <hr>

					  <br>
					  <br>
					  
						<section>
							<header>
								<h2>Posts recomendados</h2>
							</header>
							<ul class="style">
							  
								<li>
									<a href="/blog/es/2015/10/31/qgis-r-es.html"><img src="/images/2015-10-31-qgis-r-icon.JPG" alt="" width=70 height=70/></a>
									<p class="text"><h4><a href="/blog/es/2015/10/31/qgis-r-es.html">Integración de QGIS y R: Un ejemplo con muestreo espacial estratificado</a></h4></p>
									<p class="posted">NOVIEMBRE 28, 2015  |  <a href="/blog/es/2015/10/31/qgis-r-es.html#comments">COMENTARIOS</a></p>
								</li>

							  <li>
                  <a href="/blog/es/2015/10/03/reflectance-R-es.html"><img src="/images/2015-10-03-reflectance-r-icon.jpg" alt="" width=70 height=70/></a>
                  <p class="text"><h4><a href="/blog/es/2015/10/03/reflectance-R-es.html">Prepara archivos para la producción de imágenes con corrección atmosférica en CLASlite usando R</a></h4></p>
                  <p class="posted">OCTUBRE 3, 2015  |  <a href="/blog/es/2015/10/03/reflectance-R-es.html#comments">COMENTARIOS</a></p>
                                </li>							  
					
								<li>
									<a href="/blog/es/r/2015/08/11/leaflet-R-es.html"><img src="/images/2015-08-11-leaflet-R-icon.jpg" alt="" width=70 height=70/></a>
									<p class="text"><h4><a href="/blog/es/r/2015/08/11/leaflet-R-es.html">Mapeo web con Leaflet y R</a></h4></p>
									<p class="posted">AGOSTO 11, 2015  |  <a href="/blog/es/r/2015/08/11/leaflet-R-es.html#comments">COMENTARIOS</a></p>
								</li>
								
							</ul>
						</section>
						
						<hr>

					  <br>
					  <br>
					  
						<section>
							<header>
								<h2>Navega en el blog por etiquetas</h2>
							</header>

									<p class="text">
									<h4>
									<a href="/tags-es/R"> R</a>
									&nbsp; | &nbsp; 
									<a href="/tags-es/SIG"> SIG</a>
									&nbsp; | &nbsp;
									<a href="/tags-es/PercepcionRemota"> Percepción Remota</a>
									&nbsp; | &nbsp;
									<a href="/tags-es/landsat"> LANDSAT</a>
									&nbsp; | &nbsp; 
									<a href="/tags-es/CLASlite"> CLASlite </a>
									</h4>
									</p>
									
						</section>
						
					  <hr>

					  <br>
					  <br>
					  
						<section>
							<header>
								<h2>Sitios web recomendados</h2>
							</header>
							<ul class="style">
								<li>
									<a href="https://plus.google.com/u/0/communities/108037738151282716907"><img src="/images/static/geomatica.jpg" width=70 height=70></a>
									<p class="text"><h4><a href="https://plus.google.com/u/0/communities/108037738151282716907">GEOMATICA</a></h4></p>
									<p class="posted">COMUNIDAD EN G+ SOBRE SIG Y PR</p>
								</li>

								<li>
									<a href="https://plus.google.com/u/0/collection/oefHm"><img src="/images/static/r-collection-icon.png" width=70 height=70/></a>
									<p class="text"><h4><a href="https://plus.google.com/u/0/collection/oefHm">The R Collection</a></h4></p>
									<p class="posted">NOTICIAS Y TIPS ACERCA DE R</a></p>
								</li>
								
								<li>
									<a href="http://www.r-bloggers.com"><img src="/images/static/rbloggers.png" width=70 height=70/></a>
									<p class="text"><h4><a href="http://www.r-bloggers.com/">R-BLOGGERS</a></h4></p>
									<p class="posted">TUTORIALES Y NOTICIAS SOBRE R</a></p>
								</li>

								<li>
									<a href="https://www.facebook.com/DronITech"><img src="/images/static/CaptureDronEs.png" width=70 height=70/></a>
									<p class="text"><h4><a href="https://www.facebook.com/DronITech">DronIT</a></h4></p>
									<p class="posted">NOTICIAS SOBRE DRONES Y TECNOLOGIA</a></p>
								</li>

							</ul>
						</section>						
						
					</div>
					<!-- Sidebar -->

