
					<div id="sidebar" class="4u">
					  <hr>
					  
					  {% include socialmedia-es.html %}

					  <hr>

					  <br>
					  <br>
					  
						<section>
							<header>
								<h2>Posts recomendados</h2>
							</header>
							<ul class="style">
							  
								<li>
									<a href="/blog/es/2015/11/28/classification-r-es.html"><img src="/images/2015-11-28-classification-r-icon.JPG" alt="" width=70 height=70/></a>
									<p class="text"><h4><a href="/blog/es/2015/11/28/classification-r-es.html">Clasificación de imágenes con RandomForests en R (y QGIS)</a></h4></p>
									<p class="posted">NOVIEMBRE 28, 2015  |  <a href="/blog/es/2015/11/28/classification-r-es.html#comments">COMENTARIOS</a></p>
								</li>

								<li>
									<a href="/blog/es/2015/10/31/qgis-r-es.html"><img src="/images/2015-10-31-qgis-r-icon.JPG" alt="" width=70 height=70/></a>
									<p class="text"><h4><a href="/blog/es/2015/10/31/qgis-r-es.html">Integración de QGIS y R: Un ejemplo con muestreo espacial estratificado</a></h4></p>
									<p class="posted">OCTUBRE 31, 2015  |  <a href="/blog/es/2015/10/31/qgis-r-es.html#comments">COMENTARIOS</a></p>
								</li>

								<li>
									<a href="/blog/es/r/2015/08/11/leaflet-R-es.html"><img src="/images/2015-08-11-leaflet-R-icon.jpg" alt="" width=70 height=70/></a>
									<p class="text"><h4><a href="/blog/es/r/2015/08/11/leaflet-R-es.html">Mapeo web con Leaflet y R</a></h4></p>
									<p class="posted">AGOSTO 11, 2015  |  <a href="/blog/es/r/2015/08/11/leaflet-R-es.html#comments">COMENTARIOS</a></p>
								</li>
								
							</ul>
						</section>
						
						<hr>

					  <br>
					  <br>
					  
						<section>
							<header>
								<h2>Suscríbete a mi blog</h2>
							</header>

									<p class="text">
									<h4>
									Suscríbete a mi blog y    
									<a href="/es/subscribe.html" style= "color:#1e6bb8"> obtén la guía con los '50 mejores plugins de QGIS de 2016'</a>
									
									</h4>
									</p>
									
						</section>
						
					  <hr>
					  
					  <br>
					  <br>
					  
						<section>
							<header>
								<h2>Navega en el blog por etiquetas</h2>
							</header>

									<p class="text">
									<h4>
									<a href="/tags-es/R"> R</a>
									&nbsp; | &nbsp; 
									<a href="/tags-es/SIG"> SIG</a>
									&nbsp; | &nbsp;
									<a href="/tags-es/PercepcionRemota"> Percepción Remota</a>
									&nbsp; | &nbsp;
									<a href="/tags-es/landsat"> LANDSAT</a>
									&nbsp; | &nbsp; 
									<a href="/tags-es/QGIS"> QGIS </a>
									</h4>
									</p>
									
						</section>
						
					  <hr>

					  <br>
					  <br>
					  
						<section>
							<header>
								<h2>Sitios web recomendados</h2>
							</header>
							<ul class="style">
								<li>
									<a href="https://plus.google.com/u/0/communities/108037738151282716907"><img src="/images/static/geomatica.jpg" width=70 height=70></a>
									<p class="text"><h4><a href="https://plus.google.com/u/0/communities/108037738151282716907">GEOMATICA</a></h4></p>
									<p class="posted">COMUNIDAD EN G+ SOBRE SIG Y PR</p>
								</li>

								<li>
									<a href="https://plus.google.com/u/0/collection/oefHm"><img src="/images/static/r-collection-icon.png" width=70 height=70/></a>
									<p class="text"><h4><a href="https://plus.google.com/u/0/collection/oefHm">The R Collection</a></h4></p>
									<p class="posted">NOTICIAS Y TIPS ACERCA DE R</a></p>
								</li>
								
								<!-- <li>
									<a href="http://www.r-bloggers.com"><img src="/images/static/rbloggers.png" width=70 height=70/></a>
									<p class="text"><h4><a href="http://www.r-bloggers.com/">R-BLOGGERS</a></h4></p>
									<p class="posted">TUTORIALES Y NOTICIAS SOBRE R</a></p>
								</li> -->

								<li>
									<a href="https://www.facebook.com/DronITech"><img src="/images/static/CaptureDronEs.png" width=70 height=70/></a>
									<p class="text"><h4><a href="https://www.facebook.com/DronITech">DronIT</a></h4></p>
									<p class="posted">NOTICIAS SOBRE DRONES Y TECNOLOGIA</a></p>
								</li>

							</ul>
						</section>						
						
					</div>
					<!-- Sidebar -->

