
					<div id="sidebar" class="4u">
					  <hr>

					  <a href="https://plus.google.com/u/0/117898713832632782598/"><img src="/images/g+32.png" title="Google+" style="height:32px"></a>  <a href="https://www.linkedin.com/in/amsantac"><img src="/images/linkedin.png" title="LinkedIn" style="height:32px"></a> <a href="http://www.researchgate.net/profile/Ali_Santacruz"><img src="/images/rg-icon-180x180.png" title="ResearchGate" style="height:32px"></a> <a href="https://www.facebook.com/amsantac"><img src="/images/F_icon.png" title="Facebook" style="height:32px"></a>  <a href="/feed.xml"><img src="/images/rss.jpg" title="RSS" style="height:32px"></a>
					  <hr>

					  <br>
					  
						<section>
							<header>
								<h2>Pellentesque vulputate</h2>
							</header>
							<ul class="style">
								<li>
									<p class="posted">August 11, 2002  |  (10 )  Comments</p>
									<img src="/images/pic04.jpg" alt="" />
									<p class="text">Nullam non wisi a sem eleifend. Donec mattis libero eget urna. Pellentesque viverra enim.</p>
								</li>
								<li>
									<p class="posted">August 11, 2002  |  (10 )  Comments</p>
									<img src="/images/pic05.jpg" alt="" />
									<p class="text">Nullam non wisi a sem eleifend. Donec mattis libero eget urna. Pellentesque viverra enim.</p>
								</li>
								<li>
									<p class="posted">August 11, 2002  |  (10 )  Comments</p>
									<img src="/images/pic06.jpg" alt="" />
									<p class="text">Nullam non wisi a sem eleifend. Donec mattis libero eget urna. Pellentesque viverra enim.</p>
								</li>
								<li>
									<p class="posted">August 11, 2002  |  (10 )  Comments</p>
									<img src="/images/pic05.jpg" alt="" />
									<p class="text">Nullam non wisi a sem eleifend. Donec mattis libero eget urna. Pellentesque viverra enim.</p>
								</li>
							</ul>
						</section>
					</div>
					<!-- Sidebar -->

