---
title: Inicio | amsantac.co
---

<!DOCTYPE HTML>
<!--
	Iridium by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	
	{% include head-es.html %}
	
	<body class="homepage">

		<!-- Header -->
		<div id="header">
			<div class="container"> 
				
				<!-- Logo -->
				<div id="logo">
					<h1><a href="#">amsantac.co</a></h1>
					<span>Soluciones eficientes para el procesamiento de datos geoespaciales</span>
				</div>
				
				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li class="active"><a href="/es/index.html">Inicio</a></li>
						<li><a href="/es/about.html">Acerca de mí</a></li>
						<li><a href="/es/software.html">Software</a></li>
						<li><a href="/es/publications.html">Publicaciones</a></li>
						<!-- <li><a href="/es/training.html">Capacitación</a></li> -->
						<li><a href="/es/blog.html">Blog</a></li>
						<li><a href="/es/contact.html">Contacto</a></li>
					</ul>
				</nav>
			</div>
		</div>

		<!-- Main -->
		<div id="main">
			<div class="container">
				<div class="row"> 
					
					<!-- Content -->
					<div id="content" class="8u skel-cell-important">
						<section>
							<header>
								<h1>Mapeo web con Leaflet y R</h1>
								<span class="byline">Crea mapas web interactivos con unas cuantas líneas de R</span>
							</header>
							<a href="/blog/en/r/2015/08/11/leaflet-R.html" class="image full"><img src="/images/2015-08-11-leaflet-R-index.png" alt="" /></a>
							<p>
							  <a href="http://leafletjs.com/">Leaflet</a> es una librería de JavaScript my popular para la creación de mapas interactivos. Una forma de crear un mapa usando la librería JavaScript de Leaflet es incluir los archivos de la librería Leaflet y los archivos de estilo (CSS) en la cabecera de la página y luego definir la configuración del mapa en el cuerpo de la página html.</p>

<p>Una forma alternativa es crear el mapa web usando un paquete desarrollado para el <a href="https://www.r-project.org/">lenguaje R</a> llamado <a href="https://rstudio.github.io/leaflet/">leaflet</a>, desarrollado por el grupo de  <a href="https://www.rstudio.com/">RStudio</a>, el cual permite controlar e integrar mapas de Leaflet en R.  En esta entrada del blog explico cómo leer en R un mapa vectorial en formato <a href="https://doc.arcgis.com/en/arcgis-online/reference/shapefiles.htm">shapefile</a> y cómo crear un mapa web con leaflet personalizando la forma en que el mapa vectorial es presentado. También describo cómo adicionar una legenda, un control para las capas y popups para desplegar datos de la tabla de atributos.
              </p>
							<p><a href="/blog/es/r/2015/08/11/leaflet-R-es.html">Leer más...</a></p>
						</section>
						<hr>
						<br>
						<section>
							<header>
								<h1>Aplicación web TOC</h1>
								<span class="byline">Una aplicación interactiva para generar las curvas ROC y TOC desarrollada con Shiny</span>
							</header>
							<a href="/es/software.html" class="image full"><img src="/images/static/TOCapp-index.png" alt="" /></a>
							<p>
							  Esta aplicación web desarrollada con <a href="http://shiny.rstudio.com/">Shiny</a> y R permite la construcción de la curva ROC (i.e., Receiver (aka Relative) Operating Characteristic) y la curva TOC (i.e., Total Operating Characteristic) para datos espaciales y no espaciales a través de una interfaz gráfica de usuario. La curva ROC es una técnica estadística muy popular usada para evaluar el comportamiento de un sistema clasificador binario a medida que el umbral de discriminación varía. El método TOC es una modificación novedosa de la técnica ROC que ha sido desarrollado recientemente por el profesor Gil Pontius de Clark University.
							  </p>
							<p><a href="/es/software.html">Leer más...</a></p>
						</section>
						<hr>
						<br>
						<section>
							<header>
								<h1>Redes óptimas de muestreo espacial</h1>
								<span class="byline">Diseño de redes de muestreo usando algoritmos genéticos</span>
							</header>
							<a href="/es/publicaciones.html" class="image full"><img src="/images/static/sampling-networks-index.png" alt="" /></a>
							<p>
							Este capítulo de libro presenta cómo se diseñaron redes espaciales óptimas para la segunda fase de muestreo del carbono orgánico del suelo con base en la información espacial obtenida durante una primera fase de muestreo en campo. Puntos adicionales complementarios al muestreo inicial existente fueron generados en configuraciones regulares y aleatorias siguiendo dos métodos diferentes: adición secuencial y adición simultánea. La búsqueda del conjunto óptimo de puntos adicionales se llevó a cabo usando una técnica de optimización evolutiva conocida como algoritmos genéticos.
							  </p>
							<p><a href="/es/publicaciones.html">Leer más...</a></p>
						</section>						
					</div>
					
					{% include sidebar-es.html %}

				</div>
			</div>
		</div>

					{% include footer-es.html %}

	</body>
</html>