---
layout: page
---
<div class="container">
	<div class="marketing">
		<div class="content">	  
			<div class="row">								
			    <div class="span6 columns">
			      
			      <br>
					<!-- <h2>{{page.title}}</h2> -->

              <ul class="post-list">

						 {% for post in site.categories.en %}
             {% for tag in post.tags %}
             {% if tag == page.tag %}
 
            <li>
      
        <h1 class="post-list">
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h1>
        <span ><em>{{ post.date | date: "%b %-d, %Y" }}</em></span>
        <br>
        <small><strong>Tags: </strong>{% for tag in post.tags %} <a href="/tags-es/{{ tag }}" title="Ver posts etiquetados con &quot;{{ tag }}&quot;"><u>{{ tag }}</u></a>  {% if forloop.last != true %} {% endif %} {% endfor %} </small>
        
      </li>
      <br>
      <br>
      
						{% endif %}
						{% endfor %}
						{% endfor %}
						
						</ul>
					
				</div>
			</div>
		</div>
	</div>		
</div>